<div class="card" *ngIf="student else noStudent">
  <div class="card-body">
    <div class="form-group">
      <label for="name">Student Name:</label>
      <input type="text" class="form-control" id="name" [value]="student.name">
    </div>
    <div class="form-group">
      <label for="description">Subject:</label>
      <input type="text" class="form-control" id="description" [value]="student.subject">
    </div>

    <button type="submit" class="btn btn-primary" (click)="saveNewStudent()">Save</button>
    <!-- <button type="submit" class="btn btn-primary" (click)="saveNewStudent()" [disabled]="!studentForm.valid">Save</button> -->


    <!-- Student Details
      <br>
      {{student.name}}
      {{student.subject}} -->
  </div>
</div>
<ng-template #noStudent>
  <div class="card">
    No Student To Dispaly.
  </div>
</ng-template>